<mat-nav-list>
  <div class="logo py-4">
    <img src="../../../assets/logo" alt="vezzeta-logo">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-3">Vezzeta Admin Dashboard</h2>
  <mat-accordion>
    <mat-expansion-panel (opened)="pharmacy" (closed)="!pharmacy" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a mat-list-item routerLink="/medicine" routerLinkActive="list-item-active">
            <mat-icon>pharmacy</mat-icon>Pharmacy
          </a>
          <mat-panel-description>
            <mat-icon *ngIf="!pharmacy">
              keyboard_arrow_down
            </mat-icon>
            <mat-icon *ngIf="pharmacy">
              keyboard_arrow_up
            </mat-icon>
          </mat-panel-description>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-column">
        <a mat-list-item routerLink="/medicine/add" routerLinkActive="list-item-active">
          <mat-icon>department</mat-icon>Add Medicine
        </a>
        <a mat-list-item routerLink="/medicine/view" routerLinkActive="list-item-active">
          <mat-icon>department</mat-icon>View Medicines
        </a>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="pharmacy" (closed)="!pharmacy" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a mat-list-item routerLink="/pharmacy" routerLinkActive="list-item-active">
            <mat-icon>pharmacy</mat-icon>Pharmacy
          </a>
          <mat-panel-description>
            <mat-icon *ngIf="!pharmacy">
              keyboard_arrow_down
            </mat-icon>
            <mat-icon *ngIf="pharmacy">
              keyboard_arrow_up
            </mat-icon>
          </mat-panel-description>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-column">
        <a mat-list-item routerLink="/departments" routerLinkActive="list-item-active">
          <mat-icon>department</mat-icon>Department
        </a>
        <a mat-list-item routerLink="/departments" routerLinkActive="list-item-active">
          <mat-icon>department</mat-icon>Department
        </a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>
