<mat-nav-list>
  <div class="logo py-4">
    <img src="../../../assets/logo" alt="vezzeta-logo">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-3">Vezzeta Admin Dashboard</h2>
  <mat-accordion>
    <mat-expansion-panel (opened)="pharmacy" (closed)="!pharmacy">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a mat-list-item>
            <mat-icon>medication</mat-icon>Pharmacy
          </a>
          </mat-panel-title>
          </mat-expansion-panel-header>
          </mat-expansion-panel>


    <mat-expansion-panel (opened)="pharmacy" (closed)="!pharmacy">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a mat-list-item>
            <mat-icon>pharmacy</mat-icon>Pharmacy

          </a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-column">
        <a mat-list-item routerLink="/medicine/list" routerLinkActive="list-item-active">
          <mat-icon>view_list</mat-icon>Medicine List
        </a>
        <a mat-list-item routerLink="/medicine/add" routerLinkActive="list-item-active">
          <mat-icon>add</mat-icon>Add Medicine
        </a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- departments -->
  <mat-accordion>
    <mat-expansion-panel (opened)="department = true"
                          (closed)="department = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a mat-list-item>
            <mat-icon>departmnt</mat-icon> Departments
          </a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-column">
        <a mat-list-item [routerLink]="['departments']" [queryParams]="{lang: 'EN'}"
        routerLinkActive="list-item-active"
        class="text-decoration-none text-light my-2">
        <mat-icon>departmnt</mat-icon> Department List
        </a>
        <a  mat-list-item [routerLink]="['departments/add']" routerLinkActive="list-item-active">
          <mat-icon>departmnt</mat-icon>   Add Department
      </a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel (opened)="patients" (closed)="!patients" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a mat-list-item>
            <mat-icon>patients</mat-icon>Patients
          </a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-column">
        <a mat-list-item routerLink="/patients" routerLinkActive="list-item-active">
          <mat-icon>patients</mat-icon>All Patients
        </a>
        <a mat-list-item routerLink="/patients/add" routerLinkActive="list-item-active">
          <mat-icon>patients</mat-icon>Add Patients
        </a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>


</mat-nav-list>
