<div class="container-fluid page">
  <div class="page-box p-5">
    Add Medicine
  </div>
  <div class="page-content shadow">
    <form class="p-5" [formGroup]="medicineForm" (ngSubmit)="(AddMedicine(medicineForm.value))">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Medicine ID</mat-label>
          <i matSuffix class="fa-solid fa-fingerprint"></i>
          <input matInput formControlName="id" minlength="10" maxlength="10">
          <mat-error *ngIf="handleError('id', 'required')">
            You must provide a <strong>10 digit ID</strong>
          </mat-error>
          <mat-error *ngIf="handleError('id', 'minlength')">
            Your <strong>ID</strong> must be <strong>10 digit</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Medicine Name in English</mat-label>
            <i matSuffix class="fa-solid fa-file-signature"></i>
            <input matInput formControlName="nameEN">
            <mat-error *ngIf="medicineForm.get('nameEN')?.invalid
            && (medicineForm.get('nameEN')?.dirty
            || medicineForm.get('nameEN')?.touched)">
              Please provide a <strong>name</strong> in <strong>English</strong>.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>اسم الدواء باللغة العربية</mat-label>
            <i matSuffix class="fa-solid fa-file-signature"></i>
            <input matInput formControlName="nameAR">
            <mat-error *ngIf="medicineForm.get('nameAR')?.invalid
            && (medicineForm.get('nameAR')?.dirty
            || medicineForm.get('nameAR')?.touched)">
              Please provide a <strong>name</strong> in <strong>Arabic</strong>.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Medicine Category | فئة الدواء</mat-label>
          <mat-select name="category" [(ngModel)]="medicineForm.value.category" formControlName="category">
            <mat-option>Select medicine category</mat-option>
            <mat-option *ngFor="let category of categoryList" [value]='category.id'>
              {{category.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="medicineForm.get('category')?.invalid
            && (medicineForm.get('category')?.dirty
            || medicineForm.get('category')?.touched)">
            Please select proper <strong>category</strong>.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Medicine Quantity | كمية الدواء</mat-label>
          <i matSuffix class="fa-solid fa-warehouse"></i>
          <input matInput formControlName="quantity">
          <mat-error *ngIf="medicineForm.get('quantity')?.invalid
            && (medicineForm.get('quantity')?.dirty
            || medicineForm.get('quantity')?.touched)">
            Please provide the available <strong>quantity</strong> of the medicine.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Medicine Molarity | تركيز الدواء</mat-label>
          <i matSuffix class="fa-solid fa-prescription-bottle"></i>
          <input matInput formControlName="molarity">
          <mat-error *ngIf="medicineForm.get('molarity')?.invalid
            && (medicineForm.get('molarity')?.dirty
            || medicineForm.get('molarity')?.touched)">
            Please provide the <strong>molarity</strong> of medicine.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Packet Size | حجم العبوة</mat-label>
          <i matSuffix class="fa-solid fa-syringe"></i>
          <input matInput formControlName="size">
          <mat-error *ngIf="medicineForm.get('size')?.invalid
            && (medicineForm.get('size')?.dirty
            || medicineForm.get('size')?.touched)">
            Please provide the <strong>size</strong> of the medicine.
          </mat-error>
        </mat-form-field>

      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Medicine Price | سعر الدواء</mat-label>
          <i matSuffix class="fa-solid fa-money-bill"></i>
          <input matInput formControlName="price">
          <mat-error *ngIf="medicineForm.get('price')?.invalid
            && (medicineForm.get('price')?.dirty
            || medicineForm.get('price')?.touched)">
            Please provide the medicine <strong>price</strong>.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Medicine Image | صورة الدواء</mat-label>
          <i matSuffix class="fa-solid fa-image"></i>
          <input matInput formControlName="url">
          <mat-error *ngIf="medicineForm.get('url')?.invalid
            && (medicineForm.get('url')?.dirty
            || medicineForm.get('url')?.touched)">
            Please provide a valid image <strong>URL</strong>.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row d-flex justify-content-between">
        <div class="col-4 d-flex justify-content-center">
          <button mat-raised-button color="primary" type="submit" [disabled]="medicineForm.invalid">
            Add Medicine
          </button>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <button mat-raised-button color="accent" type="reset">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
