
<div class="container-fluid page" *ngIf="lang=='EN'">
  <div class="page-box p-5">
    <!-- <app-breadcrumb title="Department List" subTitle="Departments"
    titleAR="قائمة التخصصات" subTitleAR="التخصصات"></app-breadcrumb> -->
  </div>
  <div class="page-content shadow p-3 position-relative">
    <div id="tableContainer" class="mx-3">
      <div class="bg-light">
        <!-- <app-filter title="Department List"
        route="/departments/add" ></app-filter> -->
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>

      </div>
      <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- image Column -->
          <ng-container matColumnDef="numOfDocs">
            <th mat-header-cell *matHeaderCellDef> img </th>
            <td mat-cell *matCellDef="let element">
              <img src= {{element.sliderPic}} alt=""
              width="60" height="60" style="border-radius: .5em; margin: .2em;">
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Department Name. </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Head Column -->
          <ng-container matColumnDef="head">
            <th mat-header-cell *matHeaderCellDef> Department Head </th>
            <td mat-cell *matCellDef="let element"> {{element.head}} </td>
          </ng-container>

          <!-- date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Openning Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date | timeStampToDate}} </td>
          </ng-container>

          <!-- common Column -->
          <ng-container matColumnDef="popularity">
            <th mat-header-cell *matHeaderCellDef> Popularity </th>
            <td mat-cell *matCellDef="let element"> {{element.common}} </td>
          </ng-container>

          <!-- btns Column -->
          <ng-container matColumnDef="btns">
            <th mat-header-cell *matHeaderCellDef class="text-start px-4"> Action </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button class="m-2 text-light" (click)="openEditForm($event ,element.id)">
                <i class="fa fa-edit mx-3 fs-5 text-success"></i>
              </button>
              <button mat-icon-button class="m-2 text-light"
              (click)="openDialog(element.id)">
                <i class="fa fa-remove fs-5 text-danger"></i>
              </button>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>





<div class="container-fluid page" *ngIf="lang=='AR'" class="ARContainer">
  <div class="page-box p-5">
    <!-- <app-breadcrumb title="Department List" subTitle="Departments"
    titleAR="قائمة التخصصات" subTitleAR="التخصصات"></app-breadcrumb> -->
  </div>
  <div class="page-content shadow p-3 position-relative">
    <div id="tableContainer" class="mx-3">
      <div class="bg-light">
        <!-- <app-filter title="Department List"
        route="/departments/add" ></app-filter> -->
        <mat-form-field appearance="standard">
          <mat-label>بحث</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="ادخل كلمة البحث" #input>
        </mat-form-field>

      </div>
      <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> اسم التخصص </th>
            <td mat-cell *matCellDef="let element"> {{element.nameAR}} </td>
          </ng-container>

          <!-- Head Column -->
          <ng-container matColumnDef="head">
            <th mat-header-cell *matHeaderCellDef> مدير النخصص </th>
            <td mat-cell *matCellDef="let element"> {{element.headAR}} </td>
          </ng-container>

          <!-- numOfDocs Column -->
          <ng-container matColumnDef="numOfDocs">
            <th mat-header-cell *matHeaderCellDef> عدد الدكاترة </th>
            <td mat-cell *matCellDef="let element"> {{element.numOfDocs}} </td>
          </ng-container>

          <!-- date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> تاريخ الافتتاح </th>
            <td mat-cell *matCellDef="let element"> {{element.date | timeStampToDate}} </td>
          </ng-container>

          <!-- common Column -->
          <ng-container matColumnDef="popularity">
            <th mat-header-cell *matHeaderCellDef> الاكثر تخصصا </th>
            <td mat-cell *matCellDef="let element"> {{element.common}} </td>
          </ng-container>

          <!-- btns Column -->
          <ng-container matColumnDef="btns">
            <th mat-header-cell *matHeaderCellDef class="text-start px-4"> اخري </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button class="m-2 text-light" (click)="openEditForm($event ,element.id)">
                <i class="fa fa-edit mx-3 fs-5 text-success"></i>
              </button>
              <button mat-icon-button class="m-2 text-light"
              (click)="openDialog(element.id)">
                <i class="fa fa-remove fs-5 text-danger"></i>
              </button>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="text-align: end;" ></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">لا يوجد بيانات خاصة ب  "{{input.value}}"</td>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>




