<div class="row p-4" *ngIf="lang=='EN'">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item fs-5">
        {{title}}
      </li>
      <li class="breadcrumb-item">
        <a [routerLink]="['/dashboard']">
          <i class="fa fa-home text-secondary fa-2x" aria-hidden="true"> </i>
        </a>
      </li>
      <li class="breadcrumb-item">
        {{subTitle}}
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{title}}
      </li>
    </ol>
  </nav>
</div>


<div class="row p-4 ARContainer" *ngIf="lang=='AR'">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item fs-5">
        {{titleAR}}
      </li>
      <li class="breadcrumb-item">
        <a [routerLink]="['/dashboard']">
          <i class="fa fa-home text-secondary fa-2x" aria-hidden="true"> </i>
        </a>
      </li>
      <li class="breadcrumb-item">
        {{subTitleAR}}
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{titleAR}}
      </li>
    </ol>
  </nav>
</div>
