mat-sidenav-container{
    height: 100%;
}

mat-sidenav , mat-sidenav-content{
    padding:16px
}

mat-sidenav{
    background-color: aquamarine;
    width: 200px;
}
.sidebarContainer {
  // width: 15%;
    background-color: rgba(5, 25, 44, 0.233);
    height: 130%;
    padding-top:3em
}

.ARContainer {
  direction: rtl;
}
