<div class="container-fluid mx-0 px-0" *ngIf="lang=='EN'">
  <div class="row mx-0 px-0">
    <div class="col-2 mx-0 px-0">
      <app-side-navbar-comp></app-side-navbar-comp>
    </div>
    <div class="col-10 mx-0 px-0">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

<div class="container-fluid mx-0 px-0" *ngIf="lang=='AR'">
  <div class="row mx-0 px-0">
    <div class="col-10 mx-0 px-0">
      <router-outlet></router-outlet>
    </div>
    <div class="col-2 mx-0 px-0">
      <app-side-navbar-comp></app-side-navbar-comp>
    </div>
  </div>

</div>






