<div class="container-fluid page">
  <div class="page-box p-5">
    <app-breadcrumb title="Add Department" subTitle="Departments"></app-breadcrumb>
  </div>
  <div class="page-content shadow p-3 position-relative">
    <div class="row">
      <h4 id="formTitle" class="mx-2 my-4"> {{add? 'Add Department' : 'Edit Department'}}</h4>
    </div>
    <div class="row mx-3">

      <form class="d-flex flex-column" [formGroup]="deptForm"
      (ngSubmit)=" add ? addDept(): updateDept()">
      <div class="row">
        <mat-form-field appearance="fill" class="my-2 col-6">
          <mat-label>Department Name In English</mat-label>
          <input matInput formControlName="name" name="name"
          >
          <mat-error *ngIf="hasErr('name', 'required')">
            this field is required
          </mat-error>
          <mat-error *ngIf="hasErr('name', 'minlength')">
            this field should be 3 characters at least
          </mat-error>
          <mat-error *ngIf="hasErr('name', 'pattern')">
            this field must be in English Only
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="my-2 col-6">
          <mat-label>Department Name In Arabic</mat-label>
          <input matInput formControlName="nameAR" name="nameAR">
          <mat-error *ngIf="hasErr('nameAR', 'required')">
            this field is required
          </mat-error>
          <mat-error *ngIf="hasErr('nameAR', 'minlength')">
            this field should be 3 characters at least
          </mat-error>
          <mat-error *ngIf="hasErr('nameAR', 'pattern')">
            this field must be in Arabic Only
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="fill" class="my-2 col-6">
          <mat-label>Department Head In English </mat-label>
          <input matInput formControlName="head">
          <span matPrefix>Dr/</span>
          <mat-error *ngIf="hasErr('head', 'required')">
            this field is required
          </mat-error>
          <mat-error *ngIf="hasErr('head', 'minlength')">
            this field should be 3 characters at least
          </mat-error>
          <mat-error *ngIf="hasErr('head', 'pattern')">
            this field must be in English Only
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="my-2 col-6">
          <mat-label>Department Head In Arabic </mat-label>
          <input matInput formControlName="headAR">
          <span matSuffix>/د</span>
          <mat-error *ngIf="hasErr('headAR', 'required')">
            this field is required
          </mat-error>
          <mat-error *ngIf="hasErr('headAR', 'minlength')">
            this field should be 3 characters at least
          </mat-error>
          <mat-error *ngIf="hasErr('headAR', 'pattern')">
            this field must be in Arabic Only
          </mat-error>
        </mat-form-field>
      </div>
        <mat-form-field appearance="fill" class="my-2">
          <mat-label>Department Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date"
          [value]="2/1/1900|date">
          <!-- {{dpt?.date | timeStampToDate}} -->
          <mat-error *ngIf="hasErr('date', 'required')">
            this field is required
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-label class="fs-5">Department Popularity</mat-label>

        <mat-radio-group class="mx-5 my-2"
        formControlName="common">
          <mat-radio-button value="true" class="mx-3"
          [checked]="dpt?.common">Common Department
        </mat-radio-button>
          <mat-radio-button value="false"
          [checked]="dpt?.common != true">un-common Department</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="hasErr('common', 'required')">
          this field is required
        </mat-error>

        <div>
          <mat-divider class="my-2"></mat-divider>
          <div>
            <h2>View way info: </h2>
            <div class="row">
              <mat-slide-toggle formControlName="viewInSlider" class="col-3"
              (change)="updateSliderValidator()" [checked]="dpt?.viewInSlider">
                View in slider!
              </mat-slide-toggle>
                <input *ngIf="ViewInSlider" class="form-control col-7"
                formControlName="sliderPic" name="sliderPic"
                type="file" (change)="preview($event)">
                <small class="text-danger" *ngIf="hasErr('sliderPic', 'required')">
                  this field is required now
                </small>
            </div>
          </div>
        </div>

        <div class="btns my-4">
          <button mat-raised-button color="primary"
          class="mx-4" type="submit" [disabled]="deptForm.invalid" id="btnEdit">
          {{add? "ADD" : 'Update'}}
        </button>

        <button mat-stroked-button type="reset"
        color="primary" *ngIf="add" id="btn1">Cancel</button>

        <button mat-stroked-button (click)="cancel()"
        color="primary" *ngIf="!add" id="btn2">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>



