<div class="row d-flex" id="filterContainer">
  <h4 class="col-3 py-3 px-4 ">{{title}}</h4>
  <div class="col-7" >
    <div id="filter" class="px-3 my-2">
      <i class="fa fa-search text-secondary fa-1x mx-3"
      aria-hidden="true"> </i>
      <mat-form-field appearance="legacy">
        <mat-label class="text-secondary">Filter</mat-label>
        <input matInput placeholder="Enter Search key" color="secondary"
        [(ngModel)]="FilterKey" name="filter" [value]="FilterKey">
      </mat-form-field>
    </div>
  </div>
  <div class="col-2 py-2">
    <button mat-fab class="m-2 bg-info text-light" (click)="openForm()"
    aria-label="Example icon button with a delete icon">
    <i class="fa fa-plus"></i>
    </button>
    <button mat-fab class="m-2 bg-info text-light"
    aria-label="Example icon button with a delete icon">
    <i class="fa fa-minus"></i>
    </button>
  </div>
</div>
